@import './reset';
@import './base';
@import './palette';
@import './icons';
@import './fonts';

body {
  background-color: $color1;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 20px 0 23px 38px;

  span {
    font-size: 14px;
    color: $color2;
  }
}
