// palette
@import "../../../../styles/palette.scss";

.task {
  display: flex;
  align-items: center;
  position: relative;
  height: 56px;

  &:hover {
    cursor: pointer;
    background-color: $color18;
  }

  &.selected {
    background-color: $color18;
  }

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: $color5;
    margin-right: 12px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $color5;
    display: block;
  }

  .title {
    color: $color4;
    font-size: 16px;
    line-height: 1;
    margin-top: 1px;
  }

  .meta {
    position: absolute;
    right: 0;

    .deadline {
      font-size: 14px;
      color: $color2;
      margin-right: 18px;

      &::before {
        content: "\f133";
        font-family: "Line Awesome Free";
        font-weight: 900;
        margin-right: 6px;
      }
    }
  }

  &.completed {
    &::before {
      content: "\f00c";
      font-family: "Line Awesome Free";
      font-weight: 900;
      color: $color6;
      background-color: $color3;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title {
      color: $color17;
    }
  }
}
